@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Righteous&display=swap');
@import "tailwindcss";

@theme {
  --font-righteous: "Righteous", cursive;
}

html {
  -webkit-text-size-adjust: 100%;
}

input, select, textarea, button {
  font-size: 16px;
}
